
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,900;1,300;1,400;1,500;1,600;1,900&display=swap');


*{
  margin: 0;
}
body{
  font-family: Raleway;
  font-size: 18px;
}
.container{
  margin:0 auto ;
  text-align: center;
}
.container h1{
  margin: 1em 0;

}
.container p{
  line-height: 1.7rem;
}
.logo{
  width: 120px;
      margin: 0 auto;
}
.left{
  color: white;
  background: transparent linear-gradient(180deg, #6650F2 0%, #9E91F2 100%) 0% 0% no-repeat padding-box;
  padding:2em 1em;
}

p.description{
  
  font-weight:600; 
      font-weight: 600;
    font-size: 1.2em;
    line-height: 1.7em;
}
p.secondText{
  color: #D7D1FB;
  margin:2em 0; 
  font-size: 1.1em;
}
.right p{
      padding: 2em 0 1em;
}

input,button{
      width: calc(100% - 3em);
      outline: none;
    padding: 0.5em;
    margin: 1em;
    font-size: 1.3em;
    
}
::placeholder {
  color: #c2c2c2;
  opacity: 1; /* Firefox */
}
button{
    width: calc(100% - 2em);
  color: white;
  background-color: #6650F2;
  border:none;
  cursor: pointer;
}
.attention{
      width: 100%;
    text-align: center;
    margin-top: 0.5em;
}
.me{
  width: 3em;
}
.arrow{
   width: 15em;
}
.text{
  display: flex;
  
      padding-bottom: 50px;

}
.bbb{flex: 0 0 50%;}
.aaa{
   background-image: url("https://znews-photo.zadn.vn/w480/Uploaded/ovhpaob/2020_07_06/Nguyen_Manh_Hung.jpeg");
  background-position: center center;
  background-size: cover;
   flex: 0 0 25%;
}
.right p {
  font-weight: 600;
    font-size: 1.2em;
}
.inner{

    margin-bottom: 2em;
}
.content{
  z-index: 1;
}
@media only screen and (min-width: 768px) {
body{
  font-size: 20px;
}
  button{
    width: 60% !important;
  }
  input{
    width: calc(60% - 1em);
  }
}

@media only screen and (min-width: 1024px) {
.container{

}
input {
    width: calc(70% - 1em);
}
 button{
    width: 70% !important;
  }
.inner{
  display: grid;
  grid-template-columns: 55% auto;
  height: 100vh;
  margin-bottom: 0;

 
  }
 .logo{
  margin-left: 3em; 
 }
  .left{
    text-align: left;
    display: grid;
    
  }
  .logo img{   width: 40px;}
 span{
    display: block;
  }
  h1{
    font-size: 3em;
  }
  .right{
  align-self: center;
  padding: 0;
 
  margin: 0 auto;
  }
  .right p{
 margin: 0 1em;
  }
  .content{
        padding: 0 3em;
  }

  .pro-container{
    clip-path: inset(0 45% 0 0);
  position: absolute;
  height: 70%;
  top:20%;
  width: 100%;
  z-index: 0;
   pointer-events: none;
}
.proto{
  border:3px solid rgb(255,255,255,.1);
  width: 19%;
  height: 80%;
  float: left;
  margin-left: 1em; 
  transform: translateX(10%);


}
}

